<div class="container">  
  <form id="expense" action="/" method="post">
    <h3>Expense</h3>
    <fieldset>
      <input name="date" placeholder="Date" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name = "expense" placeholder="Expense"  tabindex="2" required>
    </fieldset>
    <fieldset>
      <textarea name = "reason" placeholder="Reason" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button type="submit" >Submit</button>
    </fieldset>
  </form>
</div>
